<?xml version="1.0"?>
<launch>
    <!-- motor driver abel05s -->
    <include file="$(find trd_driver)/launch/trd_driver.launch">
        <arg name="serialport_name" value="/dev/motor_trd" />
        <arg name="baudrate" value="38400" />
        <arg name="left_coef" value="-1.0" />
        <arg name="right_coef" value="-1.0" />
        <arg name="linear_coef" value="125.0" />
        <arg name="angular_coef" value="13.5" />
        <arg name="encoder_ticks_per_rev" value="1980" />
        <arg name="base_width" value="0.21" />
        <arg name="wheel_diameter" value="0.08" />
    </include>
</launch>

